bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/x64/
/.idea/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.FileListAbsolute.txt
*.obj
*.tlog
*.log
*.ilk
*.recipe
*.ilk
*.pdb
*.idb
*.lastbuildstate
.vs/Mood/v17
MoodGame/x64
